<% @post.each do |post| %>                            ### run, not displayed code
<h2><%= post.title %></h2>                            ### this is displayed, post.title
<div><%= truncate(post.body, :length => 35) %> </div> ### display post.body up to 35 char
<br>
<%= link_to "Read Post", post %>                      ### link to prefix post, verb get, controller#action posts#show
<% end %>  
